<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        
        <logger name="com.freecharge" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        
        <logger name="com.freecharge.error.handler.test" level="INFO" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        
        <logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="Console" />
        </logger>
        
    </Loggers>
</Configuration>